
{% extends 'base.html' %}
{% load static %}

    {% block content %}

    <!DOCTYPE html>
    <html>
    <head>
        <title>Add Product</title>
        <style>
            .form-container {
                width: 50%;
                margin: 0 auto; /* Center the form horizontally */
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <div class="form-container">
            <h1>Add Product</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
    </html>
{% endblock content %}