{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container py-5">
    <div class="col-md-8 offset-2">

        <h1 class="mb-5">Add Product</h1>
        
        <div class="card mb-4" id="forms">
            <div class="card-body">

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            <small class="text-danger">{{ field.errors|striptags }}</small>
                        </div>
                    {% endfor %}

                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>

            </div>
        </div>

    </div>       
</div>

{% endblock content %}