{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  .background {
    background-color: #FAFFAF;
  }
</style>
<div class="background">
  <div class="container py-5" >
    <div class="row">
      <div class="col-md-8 offset-2" >
      
        <div class="mt-5">
          <h2 style="margin-bottom: 20px;">About Us</h2>
          <p>This coffee shop was created by Mobina Batebi, Saghar Rezanavaz, Mahsa Sarsangi and Rojin Soufi.
              At our cozy coffee shop, we believe that every cup of coffee tells a story. Nestled in the heart of the city, our shop is more than just a place to get your daily fix; it's a community hub where strangers become friends over shared laughter and the rich aroma of freshly brewed coffee. Our menu offers a variety of blends, each carefully selected to cater to different tastes and moods. Whether you're looking for an energizing shot of espresso to start your day or a soothing latte to unwind after a long day, we've got you covered. But beyond the coffee, it's the atmosphere we create that sets us apart. Our shop is designed to be a welcoming space where you can sit back, relax, and lose yourself in the moment—just like taking a sip of your favorite coffee. Join us, and let's make every moment count, one cup at a time.</p>

          <h2 style="margin-bottom: 20px;">Opening Hours</h2>
          <p>We are open every day from 7 AM to 9 PM.</p>

          <h2 style="margin-bottom: 20px;">Address</h2>
          <p>Department of Industrial Engineering, Sharif University of Technology, Azadi Street, Tehran</p>

          <div class="map-container mt-4" style="margin-bottom: 20px;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d699.5160714720571!2d51.351283724420426!3d35.70409871362272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00a892cd26cb%3A0x2c2ffe1fadfac892!2sDepartment%20of%20Industrial%20Engineering%20Sharif%20University!5e0!3m2!1sfa!2s!4v1719821496266!5m2!1sfa!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <h2 style="margin-bottom: 20px;">Get in Touch</h2>
          <p>Email us at Coffeeshop@gmail.com or call us at  021-66005116.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
