{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{% url 'store:storage' %}">Storage Management</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'store:add-product' %}">Add Product</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <h1>Store Management</h1>

            <div>
                <h3>Select a Product for Sales Chart:</h3>
                <select id="productSelect" class="form-select">
                    {% for product in products %}
                        <option value="{{ product.id }}">{{ product.title }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="salesChart" style="height: 100px;"></div>

            <script>
                // JavaScript for updating chart based on selected product
                document.getElementById('productSelect').addEventListener('change', function() {
                    var productId = this.value;
                    window.location.href = window.location.pathname + '?product_id=' + productId;
                });
            </script>
            
            {% if selected_product %}
                <h3>Sales of {{ selected_product.title }}</h3>
                <div>{{ sales_data }}</div>
                {% if chart %}
                    <img src="data:image/png;base64,{{ chart|safe }}" alt="Sales Chart" class="img-fluid">
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}