{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <div class="col-md-8 offset-2">

    <h1 class="mb-5">Storage Items</h1>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for item in storage_items %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.amount }}</td>
          <td>
            <form method="POST"> <!-- Form for updating existing items -->
              {% csrf_token %}
              <input type="hidden" name="item_id" value="{{ item.id }}">
              <div class="input-group">
                <input type="number" name="new_amount" class="form-control" value="{{ item.amount }}">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </div>
            </form>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <form method="POST"> <!-- Form for adding new items -->
            {% csrf_token %}
            <td>
              <input type="text" name="name" class="form-control" placeholder="New Ingredient Name">
            </td>
            <td>
              <input type="number" name="amount" class="form-control" placeholder="Amount">
            </td>
            <td>
              <button type="submit" class="btn btn-success">Add New</button>
            </td>
          </form>
        </tr>
      </tbody>
    </table>

  </div>
</div>
{% endblock %}